:root {
  --bg-color-dark-gray: #898383;
  --bg-color-light-gray: #a9a9a9;
  --bg-color-light: #fefefe;
  --color-dark: #000;
  --color-light: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

*::before,
*::after {
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--color-dark);
}

.wrapper {
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  min-height: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.header {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1000px) 1fr;
  align-items: center;
  grid-area: header;
  padding: 15px;
  background-color: var(--bg-color-dark-gray);
}

.header__logo {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  width: 70px;
  height: 70px;
  font-size: 24px;
  color: var(--color-dark);
  border-radius: 50%;
  background-color: var(--bg-color-light);
}

.header__menu {
  grid-column: 3/4;
}

.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.header__link {
  font-size: 18px;
  color: var(--color-light);
}

.main {
  grid-area: main;
  background-color: var(--bg-color-light-gray);
}
.footer {
  grid-area: footer;
  background-color: var(--bg-color-dark-gray);
}
